<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
  <title>Hello</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container" style="max-width: 700px; text-align: center;">
  <div class="text-center">
    <a href="/login"><p>Diet Plan</p></a>
  </div>
  <p class="link-body-emphasis border-bottom mx-auto" style="max-width: 400px;"></p>
  <div class="jumbotron">
    <h1 style="font-weight: 600">식습관 테스트</h1>
    <p>나의 식습관은 얼마나 건강할까?</p>
    <div class="text-center">
      <img src="/images/main_page_3d_image2.png" class="rounded mx-auto d-block w-50" alt="...">
    </div>
    <p>
      <a class="btn btn-light" style="background: rgb(105, 121, 60); color:white;" href="/test/1">테스트 시작</a>
    </p>
    <p>13936명 참여!</p>
  </div>
</div>
</body>
</html>